/* =================
 table of contents
====================
 
1. header design
2. icons
3. model
4. responsive designe
 
*/
 
 
 
 
/* ===============
   1. header design
================ */
 

header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
  }
  
  header.flex nav {
    background-color: var(--bgheader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px #2323242a;
  }
  
  header ul.flex {
    gap: 16px;
  }
  
  header ul li a{
    color: var(--title);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;
  }
  
  header ul li a:hover {
    color: var(--blue1);
    opacity: 1;
    font-size: 0.9rem;
  }
  
  header button {
    font-size: 1.2rem;
  }
  header .menu {
    display: none;
  }

  /* ===============
   2. icons
================ */

  header .icon-view-list , header .mode{
    background-color: var(--bgheader);
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    color: var(--subtitle);
    border: 1px solid rgba(244, 165, 96, 0.25);
    transition: 0.2s;
  }
  header .icon-sun {
    color: rgb(255, 165, 0);
  }

  header .icon-menu:hover , header .mode:hover{
    color: var(--title);
    border: 1px solid rgb(244,165,96);
  }
  
  header .icon-close {
    font-size: 1.3rem;
    color: var(--subtitle);
  }
  header .icon-close:hover{
    font-size: 1.6;
    color: crimson;
    transition: 0.3s;
    rotate: 180deg;
  }



  /* ===============
   3. model
================ */


  header .fixed{
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgb(40,40,48,0.91);
  }

  @keyframes mymove {
    0%   {scale: 0;}
    80% {scale:1.1}
    100% {scale: 1;}
  }

  header .fixed ul.model{
    animation: mymove 0.5s;
    transition: 0.3s;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--dark);

  }

  header .fixed ul.model li{
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }
  header .fixed ul.model li:last-child{
    border: none;
    
  }
  header .fixed ul.model li a{
    font-size: 1rem;
  }
  header .fixed ul.model li:first-child{
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
    margin-bottom: -1rem;
    
  }
  


/* ===============
   4. responsive designe
================ */



  @media (max-width: 500px) {
    nav {display: none;}
    header .menu {
      display: block;
    }
  }
  